# Laravel
/node_modules
/vendor
/public/storage
.env
.env.local
.env.*.local
/storage/*.key
/public/hot
/storage/debugbar/*
.phpunit.result.cache
/tests/_support/Generated/*

# IDE or Editor folders
.idea/
.vscode/
*.sublime-workspace
*.sublime-project

# OS specific files
.DS_Store
Thumbs.db
